<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookshopPresentationUI</display-name>
  <welcome-file-list>
    <welcome-file>pages/index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>g8.bookshop.presentation.servlet.catalogue.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authenticate</display-name>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>g8.bookshop.presentation.servlet.usermanager.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Disconnect</display-name>
    <servlet-name>Disconnect</servlet-name>
    <servlet-class>g8.bookshop.presentation.servlet.usermanager.Disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnect</servlet-name>
    <url-pattern>/Disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>g8.bookshop.presentation.servlet.shoppingcart.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrders</display-name>
    <servlet-name>AddOrders</servlet-name>
    <servlet-class>g8.bookshop.presentation.servlet.shoppingcart.AddOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrders</servlet-name>
    <url-pattern>/AddOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>g8.bookshop.presentation.servlet.shoppingcart.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>g8.bookshop.presentation.servlet.shoppingcart.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
</web-app>