body {
    font-family: Georgia, Liberation serif, serif;
    text-align: center;
}


a {	
	text-decoration: none;
	font-weight: bold;
	color: #708090;
}


div#bottom {
    font-style: italic;
    text-align: center;
    text-transform:capitalize;
    font-size: smaller;
}

#userinfo {
    position: absolute;
    top: 0.2em;
    left: 0.5em;
}

#userinfo #username {
	color: #708090;
}

#menu {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
}

#menu a {
	margin-left: 0.2em;
}