body {
    font-family: Georgia, Liberation serif, serif;
    text-align: center;
}

h1#logo {
    font-size: 4em;   
}

.g8color, h1#logo span {
    color: #708090;
}


a {   
    text-decoration: none;
    font-weight: bold;
    color: #708090;
}


#bottom {
    font-style: italic;
    font-size: 0.6em;
    text-align: center;
    text-transform:capitalize;
}

#userinfo {
    position: absolute;
    top: 0.2em;
    left: 0.5em;
}

#userinfo #username {
    color: #708090;
}

#menu {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
}

#menu a {
    margin-left: 0.2em;
}

#message, #results_message {
    font-weight: bold;
    background-color: #EEEEEE;
}


div#cart table, div#results table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    border-style: none;
    border-width: 0em;
}

td{
    padding: 0.2em;
    text-align: left;
}

tr.item {
    border-bottom: 1px dashed #708090;
    border-top: 1px dashed #708090;
    font-size: 0.7em
}

td.quantity {
    padding-right: 0.2em;
    padding-left: 0.2em;   
}

td.price, td.title { color: #708090; font-weight: bold; }

th + th + th + th + th + th, td.price { text-align: right; }

td.quantity, td.checkbox { text-align: center; }

th { color: #708090; text-align:left; }

th + th + th + th + th, th + th + th + th + th + th + th, tr.update td, tr.checkout td, tr.select td { text-align: center; }

