div#cart table, div#results table {
	width: 60%;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    border-style: none;
    border-width: 0em;
}

td{
    padding: 0.2em; 
}

tr.item {
    border-bottom: 1px dashed #708090;
    border-top: 1px dashed #708090;
}

td.quantity {
    padding-right: 0.2em;
    padding-left: 0.2em;    
}