body {
    text-align: center;
}

div#cart{
    position: relative;
    left: 20%;
    right: 20%;
    text-align: center;
   /* color: red;*/
}

form {
    text-align: center;
}

table {
    border-collapse:collapse;
    border-style: none;
    border-width: 0px;
}

td{
    padding: 8pt 8pt 2pt 2pt; 
}

tr.item {
    border-bottom: thin solid black;
}

td.quantity {
    padding-right: 8pt;
    padding-left: 8pt;    
}