body {
    font-family: Monospace;
    text-align: center;
}

div#top {
	margin-bottom: 40px;
}

div#bottom {
    font-style: italic;
    text-align: center;
    text-transform:capitalize;
    font-size: smaller;
	margin-top: 100px;
}